
/*
Blocked ugly basic styles
tr, th, td, table {
	border: 1px solid green;
}

th, td { width: 2em; height: 1em;}

th { background-color: #00A000;}

th.blank { background-color: white;}
*/

/*
for Pure menus
*/

.custom-restricted {
    height: 10em;
    width: 14em;
    border: 1px solid gray;
    border-radius: 4px;
}

.top_header {clear: both; width: 20em;}
.top_header .header_menu {display: block; float: none;}

.header_menu {display: inline; float: left;
    margin-right: 0.7em;}

.pure-table-bordered th {
    text-align: center;
    border: 1px solid #cbcbcb;
}

.pure-table-bordered {
    border-right: 1px solid #cbcbcb;
}

.pure-table-bordered tbody th {
    text-align: left;
}
/*
Pure menus end
*/

#table {
    padding: 1em 0;
    clear: both;
    max-width: 85%;
}

.viz {
    vertical-align: bottom;
}

.centered {
    text-align: center;
    vertical-align: middle;
}

.button-active {
    border: 1px inset black;
}

#app {
    margin: 1em;
}

.pos {
    position: absolute;
    left: 1em;
    top: 22em;
    max-width: 70vh;
    max-height: 50vh;
    overflow: scroll;
}
#heading {
    z-index: 10;
}

#stub {
    z-index: 5;
}

#cells {
    z-index: 1;
}