
/*
Blocked ugly basic styles
tr, th, td, table {
	border: 1px solid green;
}

th, td { width: 2em; height: 1em;}

th { background-color: #00A000;}

th.blank { background-color: white;}
*/

/*
for Pure menus
*/

.custom-restricted {
    height: 10em;
    width: 14em;
    border: 1px solid gray;
    border-radius: 4px;
}

.top_header {clear: both; width: 20em;}
.top_header .header_menu {display: block; float: none;}

.header_menu {display: inline; float: left;
    margin-right: 0.7em;}

.pure-table-bordered th {
    text-align: center;
    border: 1px solid #cbcbcb;
}

.pure-table-bordered tbody th {
    text-align: left;
}
/*
Pure menus end
*/

#table {
    padding: 1em 0;
    clear: both;
    max-width: 90%;
}

#viz {
    position: absolute;
    right: 32em;
    top: 6em;
}
